$background-color: #fffcf5;
$background-odd: #fffcf5;
//$background-even: #fbf6ea;
$background-even: #f6e8c6;
//$background-color: #fefefe;
//$header1-color: #2a7b2c;
//$header2-color: #5cae4c;
$header1-color: #105a12;
$header2-color: #2a7b2c;
$text-color: #454545;
$font-stack: "DejaVu Sans", Roboto, Helvetica, Arial, sans-serif;
$small-text: 0.8em;
$font-size: 16px;
$font-size-footer: 24px;
$content-width: 70%;
$footer-height: 100px;

html
  background-color: $background-color
  color: $text-color

div#container
  padding-bottom: $footer-height
  min-height: 100%

body
  margin: 0
  position: relative
  div.project-container:nth-of-type(odd)
    background-color: $background-odd

  div.project-container:nth-of-type(even)
    background-color: $background-even

  div.content
    margin: 0% auto
    padding-top: 40px
    padding-bottom: 40px
    font-family: $font-stack
    font-size: $font-size
    text-shadow: 0 1px 0 #ffffff
    max-width: $content-width
    width: $content-width
  div.header
    background-color: #ffb400
    div.navcontainer
      margin: 0% auto
      max-width: $content-width
      width: $content-width
    nav
      list-style-type: none
      text-align: right
      li
        padding: 50px 0
        text-align: center
        display: inline
        height: 100%
        min-height: 100%
        a
          min-height: 100%
          padding: 50px 0
          height: 100%
          margin: 1em 0 1em 0
          color: #81000f
          &:visited
            color: #81000f
          text-align: center;
          padding: 0 1em 0 1em
          text-decoration: none
          &:hover
            text-decoration: underline
            background-color: $background-color
          font-size: 24px

  p
    line-height: 1.6
    text-align: justify
    display: block

    img.inline_image
      margin-left: 3px
      display: inline
      height: 1em
      border: 1px black solid

    span.logo-link-nowrap
      white-space: nowrap

  h1
    color: $header1-color

  a.download
    float: right
    img
      height: 1.5em
    &:after
      content: "";
      clear: both;
      display: table;


  header
    p
      margin: 0%

    h2
      color: $header2-color
      margin: 0px;

    .programming_technologies
      font-size: $small-text
      font-style: italic;

    a
      font-size: $small-text

  div#footer
    border-top: 1px solid black
    width: 100%
    background: $background-color
    position: absolute
    bottom: 0
    height: $footer-height
    footer
      margin: 0% auto
      width: $content-width
      text-align: right
      padding-top: 20px
      padding-bottom: 20px
      a
        font-size: $font-size-footer
        padding: 0 1em 0 1em

code
  background: white;


a
  color: #0051c9
  &:visited
    color: #7d013e
  &:hover
    text-decoration: none
  img
    text-decoration: none

div.fancyPositioning
  width: 100%
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  div
    float: left;
    overflow: hidden

  div.row::after
    content: "";
    clear: both;
    display: table;

  div.terrible-youtube-embed-hack
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    .video
      position: absolute
      width: 100%
      height: 100%

  figure
    max-width: 100%
    max-height: 100%
    overflow: hidden

    figcaption
      font-size: $small-text
      text-align: center
      vertical-align: top

  img
    width: 100%
    height: auto
    max-width: 99%
    max-height: 30%
    overflow: hidden
    border: thin solid black;


a.zola-anchor
  visibility: hidden
  text-decoration: none
  margin-left: -1.5em

h1, h2, h3, h4, h5, h6
  &:hover
    .zola-anchor
      visibility: visible
