{% set url = "link_icons/" ~ icon-%}
<span class="logo-link-nowrap">
<a href="{{link}}">
{%-if text-%}
{{text}}
{%-else-%}
{{link}}{%-endif-%}<img class="inline_image" src="{{get_url(path=url)}}"></a></span>
