<div class="grid-item">
<figure>
        {% if link %}
        <a href="{{link}}">
        {%else%}
        <a href="{{path}}">
        {%endif%}
        <img src="{{ path }}"
                {% if title %} title="{{title}}"{%endif%}
                {% if alt %} alt="{{alt}}"
                {%elif caption %} alt="{{caption}}"
                {%-endif-%}></img>
        </a>
        {% if caption -%}
        <figcaption> {{caption}} </figcaption>
        {%endif-%}
</figure>
</div>
