<div class="grid-item">
<figure>
    <div class="terrible-youtube-embed-hack">
    <iframe
        src="https://www.youtube.com/embed/{{id}}{% if autoplay %}?autoplay=1{% endif %}"
        webkitallowfullscreen
        mozallowfullscreen
        allowfullscreen class="video">
    </iframe>
    </div>
    {% if caption %}
    <figcaption> {{caption}} </figcaption>
    {%endif%}
</figure>
</div>
