<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{get_url(path="main.css")}}">
  <title>{{config.title}} - {%block title%}{%endblock%}</title>
</head>

<body>
        <div id="container">
                <div class="header">
                        <div class="navcontainer">
                        <nav>
                                <li><a href="{{get_url(path="/")}}">Home</a></li>
                                <li><a href="{{get_url(path="/portfolio")}}">Portfolio</a></li>
                        </nav>
                        </div>
                </div>
        {% block content%}{%endblock%}
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
        </div>
        <div id="footer">
                <footer>
                        <div class="foot">
                                <a href="https://gitlab.com/PawkyPenguin"><i class="fa fa-gitlab"> Gitlab</i></a>
                                &middot;
                                <a href="https://github.com/PawkyPenguin"><i class="fa fa-github"> Github</i></a>
                        </div>
                </footer>
        </div>
</body>

</html>
