{% extends "base.html"%}
{%block title%}
Home
{%endblock title%}

{%block content%}
<div class="content">
        <h1>Welcome to my homepage!</h1>
        There's not much here... But you can check out some <a href="portfolio">projects</a> I've worked on.
</div>
{%endblock content%}
