{% extends "base.html"%}
{%block title%}
        {{section.title}}
{%endblock title%}

{%block content%}
<div class="content">
        <h1>Portfolio
                <a href="portfolio_nils_leuzinger.pdf" id="pdfdownload" class="download" download>
                        <img src="{{get_url(path="pdf_icon.png")}}">
                </a></h1>
</div>
{%for page in section.pages%}
<div class="project-container">
        <div class="content">
                <header>
                        {%set slug=page.title | slugify-%}
                        <h2 id="{{slug}}">
                                <a class="zola-anchor" href="#{{slug}}" aria-label="Anchor link for: {{slug}}">&#x1F517;</a>
                                {{page.title}}
                        </h2>
                        <p>
                        <div class="programming_technologies">
                                {{page.extra.programming_technologies}}
                        </div>
                        </p>
                        {% if page.extra.project_link %}
                        <p>
                        <a href="{{page.extra.project_link}}">project link</a>
                        </p>
                        {%endif%}
                </header>
                {{page.content | safe}}
        </div>
</div>
{%endfor%}
{%endblock content%}
